.showcase {
  .showcase-text {
    padding: 3rem;
  }
  .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}

.show {
  background-image: url('../img/adam.jpg');
}

.show-1 {
  background-image: url('../img/kitchen-cabinet-repainting.jpg');
}

.show-2 {
  background-image: url('../img/colours-selection.jpg');
}

.show-3 {
  background-image: url('../img/kitchen-cabinet-painting-cost.jpg');
}